<%= link_to notification_path(notification) do %>
  <div class="icon"><span class="icon s7-angle-right-circle"></span></div>
  <div class="user-data">
     <span class="message"><%= notification.subject %></span>
   </div>

<% end %>
