<% if user_signed_in? %>
  <!-- <div class="actions">
    <div class="row"> -->

        <!-- <div class="btn-toolbar">
          <div class="btn-group btn-space"> -->
          <%= render 'likes/form', likeable: resource %>
          <%= link_to resource, class: 'btn btn-default' do %>
            <%= fa_icon 'comment' %> comment
          <% end %>
      <!-- </div>
    </div> -->

    <!-- </div>
  </div> -->
<% end %>
