  <% if animal %>
    <% if !@galleryView %>
      <% if animal.animal_intro_avatar.url.present? %>
        <%= image_tag animal.animal_intro_avatar.url %>
      <% end %>
    <% else %>
      <div class="item">
        <div class="photo">
          <div class="img">
            <% if animal.animal_intro_avatar.url.present? %>
              <%= image_tag animal.animal_intro_avatar.url %>
            <% end %>
            <div class="over">
              <div class="func">
                <a href="#">
                  <i class="icon s7-link"></i>
                </a>
                <%= link_to show_gallery_detail_path(animal.id) do %>
                  <i class="icon s7-search"></i>
                <% end %>
              </div>
            </div>
          </div>
          <div class="description">
            <div class="icon">
              <a href="#">
                <i class="s7-like"></i>
              </a>
          </div>
            <div class="desc">
              <h4><%= animal.animalName %></h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
