<% if user_signed_in? %>
  <div class="col-md-12">
    <div id="activity-<%= activity.id %>" class="activity">
      <%= render_activity(activity) %>
    </div>
  </div>
<% else %>
    <div class="gallery-container">
      <% for animal in @animals %>
        <%= render 'shared/animal_intro_avatar', animal: animal %>
      <% end %>
    </div>
<% end %>
