<% if user_signed_in? %>
  <div class="col-md-12">
    <div id="activity-<%= activity.id %>" class="activity">
      <%= render_activity(activity) %>
    </div>
  </div>

  <% else %>

  <!-- <div class="autoplay">
    <div class="col-md-6">
      <div class="team-info"> -->
      <div class="autoplay">
        <% for animal in @animals %>
          <!-- <%= link_to show_gallery_detail_path(animal) do %> -->
          <div class="col-md-3">
            <!-- <div class="team-info">
              <div class="img-sec"> -->
                <%= render 'shared/animal_intro_avatar', animal: animal %>
              <!-- </div>
            </div> -->
          </div>
          <!-- <% end %> -->
        <% end %>
       </div>
    <!-- </div>
  </div>  -->

<% end %>
