<% if user.cover.url.blank? %>
  <!-- <div class="cover" style="background-image: url(//images/cover.png);"></div> -->
  <%= image_tag 'profile', class: 'cover' %>
<% else %>
  <div class="cover" style="background-image: url(<%= user.cover.url %>);"></div>
<% end %>
