

  <li id="mail_notificatoin_bar" class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
      <!-- Convo count -->
      <i class="fa fa-envelope-o fa-2x"></i>
      <span class="badge bg-important"><%= @messages_count %>
      </span>
    </a>
    <ul class="dropdown-menu extended inbox">
      <div class="notify-arrow notify-arrow-blue"></div>
      <li>
        <p class="blue">You have <%= @messages_count %> new messages</p>
          <%= link_to 'Your Conversations', conversations_path %>
      </li>

      <li>
        <a href="#">See all messages</a>
      </li>
    </ul>
</li>
