<li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="icon s7-comment"></span></a>
  <ul class="dropdown-menu am-messages">
    <li>
      <div class="title">Messages
        <span class="badge"><%= @messages_count %></span>
      </div>
      <div class="list">
        <div class="am-scroller nano">
          <div class="content nano-content">
            <ul>
              <li class="active">
                  <div class="user-content">
                    <li class="active">
                        <p class="blue">You have <%= @messages_count %> new messages</p>
                    </li>
                    <li>
                        <%= link_to 'Your Conversations', conversations_path %>
                    </li>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </li>
  </ul>
</li>
