<div class="row">
  <div class="gallery-container">
    <% for animal in @animals %>
      <div class="item">
        <div class="photo">
          <div class="img">
            <%= image_tag animal.animal_intro_avatar %>
          <div class="over">
            <div class="func">
              <a href="#">
                <i class="icon s7-link"></i>
              </a>
              <%= link_to show_gallery_detail_path(animal.id) do %>
                <i class="icon s7-search" alt="Click to View"></i>
              <% end %>
            </div>
          </div>
        </div>
        <div class="description">
            <div class="icon">
              <%= render 'likes/form', likeable: current_user %>
            </div>
            <div class="desc">
              <h5><%= animal.animalName %></h5>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
