<div class="row">
  <div class="col-xs-9">
    <%= image_tag(@animal.animal_intro_avatar.url %>
  </div>

  <div class="col-xs-3">
    <p><b>Name: </b><%= @animal.animalName%></p>
    <p><b>Description: </b><%= @animal.content %></p>
  </div>
</div>
